name: Build and Push Docker Images

on:
  push:
    branches:
      - main


jobs:
  build-and-push: 
    runs-on: ubuntu-latest

    strategy:
      matrix:
        service:
          [
            backend/user-service,
            backend/product-service,
            backend/shopping-cart-service,
            backend/order-service,
            backend/payment-service,
            backend/notification-service
          ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Log in to Docker hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker Images
        uses: docker/build-push-action@v3
        with:
          context: ./${{ matrix.service }}
          file: ./${{ matrix.service }}/Dockerfile
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service}}:latest

      - name: Logout from Docker hub
        run: docker logout